.dark-header{
    height: 70px;
    background-color: #263238;
    color:#cfd8dc;
    width:100%;
    padding: 8px 16px;
}

body{
    font-size: 16px;
}
nav{
 font-size: 16px;
}

footer{
    background-color: #2d6986;
    color: #b3d5e5;
}

h1{
    color: #d9e3f0;
    text-align: center;
    font-weight: bold;
}

.header-navlink{
    color: #cfd8dc ;
    font-weight: 800;
}
.header-navlink:hover{
    color: #dce6ea ;
    font-size: 17px;
    font-weight: 800;
}
.bi{
    display: inline-block;
    content: "";
  }

.social-media{
    display: flex;
    justify-content: center;
}
.social-media-icon{
    margin: 10px;
    transform: scale(0.8);
}
.img__wrap{
    margin: 10px;
}
.img__description{
    visibility: hidden;
}
.img__wrap:hover .img__description{
    visibility: visible;
    color: #dce6ea ;
}

.img__wrap:hover .social-media-icon{
    transform: scale(0.85);
}
.footer-text{
    text-align: center;
    color: #dce6ea;
    font-size: 16px;
}