.dark-header{
    height: 70px;
    background-color: #263238;
    color:#cfd8dc;
    width:100%;
    padding: 8px 16px;
}
html{
    font-family: sans-serif;
    font-size: 16px;
}
body{
    font-size: 16px;
}
nav{
 font-size: 16px;
}

footer{
    padding: 30px;
    background-color: #2d6986;
    color: #b3d5e5;
}

h1{
    color: #d9e3f0;
    text-align: center;
    font-weight: bold;
}

h4{
    text-align: center;
    font-weight: 1400;
    color: #ffd7e5;

}

.header-navlink{
    color: #cfd8dc ;
    font-weight: 800;
}
.header-navlink:hover{
    color: #dce6ea ;
    font-size: 17px;
    font-weight: 800;
}
.bi{
    display: inline-block;
    content: "";
  }

.social-media{
    display: flex;
    justify-content: center;
}
.social-media-icon{
    margin: 10px;
    transform: scale(0.8);
}
.img__wrap{
    margin: 10px;
}
.img__description{
    visibility: hidden;
}
.img__wrap:hover .img__description{
    visibility: visible;
    color: #dce6ea ;
}

.img__wrap:hover .social-media-icon{
    transform: scale(0.85);
}
.footer-text{
    font-family: sans-serif;
    text-align: center;
    color: #dce6ea;
    font-size: 16px;
}

.about{
    background-color: #006064;
    padding: 30px;    
}

.flex{
    display: flex;
    flex-direction: row;
    padding-left: 10%;
}


.about_pic{
    width: 40%;
    order: 1;
    padding: 30px;
    padding-left: 15%;
}

.about_text{
    width: 40%;
    order: 2;
    padding: 30px;
    padding-left: 5px;
    color: #dce6ea;
    font-size: 18px;
    display: flex;
    justify-content: center;
    letter-spacing: 1.3px;
}

.about_img{
    width: 350px;
    height: 350px;
    /* transform: scale(0.3); */
    border-radius: 30px;
}

.experiments{
    
    background-color: #880e4f;
    padding: 30px;
}

.exp_content{
    display: flex;
    justify-content: center;
}

.exp_obj{
    margin-top: 30px;
    margin-bottom: 30px;
    width: 20%;
    padding: 15px;
    border-left: solid 1px;
    border-right: solid 1px;
    border-color: #d9e3f0;
}

hr{
    color: #cfd8dc;
    background-color: #77003f;
    border-top: 4px solid #77003f;
}

.exp_li{
    color: #ffdfea;
    font-weight: 800;
    letter-spacing: 1.2px;
}

.exp_li p{
    font-weight: 100;
    font-size: 14px;
    color: #ffb6d1;
}